[submodule "thirdparty"]
	path = thirdparty
	url = https://gitee.com/zzh_life/source-thirdparty.git
[submodule "ivp"]
	path = ivp
	url = https://gitee.com/zzh_life/source-physics.git
[submodule "lib"]
	path = lib
	url = https://gitee.com/zzh_life/source-engine-libs.git
# 1. 初始化子模块 2. 更新子模块 3. 删除子模块 dont forget --recursive